#aboutMe{
    display: flex;
}

#aboutMeTextContainer{
    height: 100%;
    width: 50%;
}

#aboutMePictureContainer{
    height: 100%;
    width: 50%;
}

#aboutMePicture{
    background-image: url(/src/images/aboutMeBackground.jpg);
    background-size: cover;
    background-position: center;
    width: 550px;
}

#aboutMeInfo{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}

#aboutMeCategories{
    padding: 0 50px 0 0;
    font-style: italic;
}

@media all and (max-width:1200px){
    #aboutMePicture{
        width: 350px;
    }
}