#final{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#finalText{
    width: 500px;
    text-align: center;
}

.contactLogo{
    margin: 10px;
}

#finalIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#finalEmailLogo{
    height: 35px;
}

#finalLinkedInLogo{
    height: 40px;
}

@media all and (max-width:1200px){
    #finalEmailLogo{
        height: 25px;
    }
    
    #finalLinkedInLogo{
        height: 30px;
    }

    #final{
        height: 300px;
    }
}