#header{
    background: rgb(26, 26, 26);
    width: 100%;
    height: 70px;
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    /* position: sticky;
    top: 0;
    z-index: 10; */
}

#hamburgerContainer{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#hamburgerLogo{
    height: 70px;
    grid-area: 1/10/10/10;
    transition: all .1s ease-out;
    cursor: pointer;
    margin: 0 50px 0 0;
}

#aiLogoContainer{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#aiLogo{
height: 30px;
margin: 0 0 0 50px;
grid-area: 1/1/1/1;
}

#hamburgerMenu{
    position: sticky;
    top: 10;
    z-index: 150px;
    }

    @media all and (max-width:1200px){
        #header{
            height: 50px;
        }

        #hamburgerLogo{
            height: 55px;
        }

        #aiLogo{
            height: 25px;
        }
    }