#interests{
    background-color: #506F8E;
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 90%);
    display: flex;
}

#interestsTextContainer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

#interestsText{
    text-align: right;
    color: white;
}

#interestsPictureContainer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

#interestsPicture{
    background-image: url(/src/images/interestsBackground.jpg);
    background-size: cover;
    background-position-y: -80px;
}

.interestsLogo{
    height: 100px;
    margin: 50px 0 0 0;
}

@media all and (max-width:1200px){
    .interestsLogo{
        height: 80px;
        margin: 20px 0 0 0;
    }
    #interestsPicture{
        background-position-y: -60px;
    }

}

@media all and (max-width:500px){
    #interests{
        flex-direction: column;
    }

    #interestsTextContainer{
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
    }

    #interestsPictureContainer{
        align-items: flex-start;
        padding: 20px 0 0 0;
        width: 100%;
    }

    #interestsPicture{
        width: 230px;
        height: 140px;
        background-position-y: -10px;
    }
}