#intro{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: rgb(128, 83, 0); */
    padding: 0 0 12vh 0;
}

#introHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2vh 0 0 0;
    /* line-height: 20px; */
}

#introTitle{
    width: 200px;
    margin:  0 0 2vh 0;
    border-bottom: 2px solid #506F8E;
    padding: 0 0 5px 0;
}

#introMainWide{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    height: 100%;
    flex-direction: column;
    max-height: 400px;
    /* background: green; */
}

#introMainTall{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    height: 70%;
    /* height: 100%; */
    /* background: darkblue; */
}

.introPicture{
    background-image: url(../images/introBackground.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.introPicture.wide{
    height: 100%;
    width: 60%;
    margin: 0px 0px 0 0;
    max-width: 600px;
}

.introPicture.tall{
    height: 50%;
    width: 90%;
    max-width: 500px;
}



.introButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.introButtons{
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    background: none;
    border: 3px #506F8E solid;
    border-radius: 10px;
    white-space: nowrap;
    width: 170px;
    /* transition: all .2s ease-out; */
}

.introButtons:hover{
    /* transform: scale(1.05); */
    /* background: rgb(42, 42, 42); */
    /* border: 3px #678eb6 solid; */
}

.introButtons.wide{
    margin: 3vh 1vw 3vh 1vw;
}

.introButtons.tall{
    margin: 10px 5px 10px 5px;

    /* padding: 10px 50px 10px 50px; */
}


.introButtonsContainer.tall{
    flex-direction: column;
    width: 300px;
}

@media all and (max-height:1000px){
    #intro{
        padding: 0 0 10vh 0;
    }
}

@media all and (max-height:500px){
    #intro{
        padding: 0 0 2vh 0;
    }
}

@media all and (max-height: 500px){
    #introButtonsContainerWide{
        flex-direction: row;
    }
    .introButtons.wide.right{
        margin-left: 20px;
    }
}

@media all and (max-width: 600px), (max-height: 450px){
    #introTitle, p{
        font-size: 12px;
    }
    .introPicture.wide{
        /* max-width: 250px; */
    }
}