#intro{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#introHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#introTitle{
    width: 200px;
    margin:  0 0 10px 0;
}

#introMainWide{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    height: 60%;
    flex-direction: column;
    max-height: 350px;

}

#introMainTall{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 60%;

}

.introPicture{
    background-image: url(../images/introBackground.jpg);
    background-size: cover;
    background-position: center;
}

.introPicture.wide{
    height: 100%;
    width: 60%;
    margin: 10px 0px 0 0;
    max-width: 500px;
}

.introPicture.tall{
    height: 50%;
    width: 90%;
    max-width: 400px;
}



.introButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.introButtons{
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    background: none;
    border: 1px white solid;
    border-radius: 10px;
    white-space: nowrap;
    width: 130px;
}

.introButtons.wide{
    margin: 10px 10px 0px 10px;
}

.introButtons.tall{
    margin: 10px 5px 10px 5px;
}


.introButtonsContainer.tall{
    flex-direction: column;
    width: 300px;
}

@media all and (max-height: 500px){
    #introButtonsContainerWide{
        flex-direction: row;
    }
    .introButtons.wide.right{
        margin-left: 20px;
    }
}

@media all and (max-width: 600px), (max-height: 450px){
    #introTitle, p{
        font-size: 12px;
    }
    .introPicture.wide{
        max-width: 250px;
    }
}