.name.header.container{
    width: 45%;
    height: 100%;
    display: flex;
    /* background: darkblue; */
}

.name.header.long{
width: 70%;
min-width: 300px;
}

.name.header.short{
    width: 70%;
    min-width: 120px;
}