.projects{
    /* background: chocolate; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: green; */
    flex-direction: column;
    padding: 0 0 20vh 0;
}

.projectsContainer{
    background: chocolate;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 0 0 20vh 0; */
}

.projectsHeader{
    height: 5vh;
    min-height: 30px;
    width: 10vw;
    min-width: 100px;
    margin: 0 0 2vh 0;
}

.tekkennetLogo{
    cursor: pointer;
    width: 20vw;
    min-width: 300px;
    margin: 0 0 2vh 0;
}