#projects{
    background: #506F8E;
    clip-path: polygon(0% 0%, 100% 00%, 100% 80%, 0% 100%);
    display: flex;
}

#projectsTextContainer{
    align-items: flex-start;
    margin: 90px 0 0 0;
}

#projectsText{
    color: white;
}

#projectsPictureContainer{
    margin: -90px 0 0 0;
}

#projectsPicture{
    background-image: url(/src/images/projectsBackground.jpg);
    background-size: cover;
    background-position-y: -30px;
}

#tekkenLogo{
    margin-top: 50px;

}

#freecodecampLogo{
    margin-top: 20px;
    padding-right: 100px;
    margin-bottom: 20px;
}